[submodule "pack/plugins/start/fzf"]
	path = pack/plugins/start/fzf
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/start/vim-gitgutter"]
	path = pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/w0rp/ale
[submodule "pack/plugins/start/php-indent"]
	path = pack/plugins/start/php-indent
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "pack/plugins/start/intentline"]
	path = pack/plugins/start/intentline
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/vim-polyglot"]
	path = pack/plugins/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "pack/plugins/start/vim-gutentags"]
	path = pack/plugins/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/plugins/start/lightline.vim"]
	path = pack/plugins/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "pack/plugins/start/grep"]
	path = pack/plugins/start/grep
	url = https://github.com/yegappan/grep.git

[submodule "pack/plugins/start/deoplete.nvim"]
	path = pack/plugins/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim.git
[submodule "pack/plugins/start/nvim-yarp"]
	path = pack/plugins/start/nvim-yarp
	url = https://github.com/roxma/nvim-yarp.git
[submodule "pack/plugins/start/vim-hug-neovim-rpc"]
	path = pack/plugins/start/vim-hug-neovim-rpc
	url = https://github.com/roxma/vim-hug-neovim-rpc.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/plugins/start/phpcd"]
	path = pack/plugins/start/phpcd
	url = https://github.com/lvht/phpcd.vim.git
[submodule "pack/plugins/start/vim-gitbranch"]
	path = pack/plugins/start/vim-gitbranch
	url = https://github.com/itchyny/vim-gitbranch.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-easymotion"]
	path = pack/plugins/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/plugins/start/tagbar"]
	path = pack/plugins/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "pack/plugins/start/vim-php-namespace"]
	path = pack/plugins/start/vim-php-namespace
	url = https://github.com/arnaud-lb/vim-php-namespace.git
